@import '../app.component';

ion-content {
    --background: white;
    height: 100%;
    overflow: auto;
    opacity: 0;
    animation: fadein forwards 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


ul {
    list-style: none;

    li {
        width: 90%;
        margin: 0px auto;
        font-size: 14px;
        color: $dark-grey;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid #cecece;
        padding: 20px 0;

        ion-icon {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}
