<ion-content>
    <ul>
        <li>
            <h2> FAQs </h2>
        </li>
        <li>
            <h2> What is this app? </h2>
            <p> Simple Weather + News app </p>
        </li>

        <li>
            <h2> How is different from the other apps in the market? </h2>
            <p>
                I did it for my personal use as a mini project, so I don't care
                if you use it or not.
            </p>
        </li>

        <li>
            <h2> What about updates </h2>
            <p>
                As this is a PWA, your updates will be one reload away which you
                can do manually ;)
            </p>
        </li>

        <li>
            <h2> I'm a geek and interested in this project, I need some info... </h2>
            <p>
                This is an angular 8 project with ionic module support for icons and few of the UI stuff,
                The APIs used are
                <a href="https://openweathermap.org/api" target="_blank">
                    Open weather
                </a> &amp;
                <a href="https://newsapi.org/" target="_blank"> NewsAPI.org </a>.
            </p>

            <p>
                This is a open source project and you're free to
                <a href="https://github.com/kj1352/Singularity" target="_blank"> contribute or fork it </a>.
            </p>
        </li>
    </ul>
</ion-content>
