<ion-content>
    <ul>
        <li (click)="openURL('http://divulge.webtrigon.com/')">
            <ion-icon name="globe-outline"></ion-icon>
            Divulge Website
        </li>

        <li (click)="openURL('https://play.google.com/store/apps/details?id=ionic.divulge.release')">
            <ion-icon name="star-outline"></ion-icon>
            Rate Us
        </li>

        <li (click)="openURL('mailto:kj@webtrigon.com')">
            <ion-icon name="mail-outline"></ion-icon>
            Contact Us
        </li>

        <li (click)="shareApp()">
            <ion-icon name="share-social-outline"></ion-icon>
            Share the app
        </li>

        <li (click)="openURL('https://github.com/kj1352/Divulge')">
            <ion-icon name="logo-github"></ion-icon>
            Contribute
        </li>
    </ul>
</ion-content>
