* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


$dark-red: #cf3c4f;
$red: #ed576b;
$dark-green: #28ba62;
$green: #42d77d;
$dark-grey: #383a3e;
$grey: #808289;
$dark-blue: #000922;
$blue: #1A2B4F;
